
@{
    ViewBag.Title = "Home Page";

}
@if (RushHour.Web.Authentication.AuthenticationManager.LoggedUser == null)
{


    <div class="row" style="margin: 0; padding: 0; width: 100%">

        <img src="http://www.cogentsite.com/wp-content/uploads/2016/02/VMS_appointment.jpg" class="img-responsive">

    </div>

    <div class="container-fluid" style="margin: 50px 35px">



        <h1 class="text-uppercase">Rush Hour</h1>
        <h2 class="lead text-capitalize"><i>Welcome to the appointment booking system!</i></h2>

        <div class="row">
            <div class="col-md-6">
                <h2>Book your appointments</h2>
                <p>
                    Here you can browse through our various activities and create as many appointments as you'd like.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Make an account</h2>
                <p>
                    Before you start you have to make an account (register) in order to create an appointment.
                    Register and have a look at all the cool activities we offer.
                </p>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script src='../Scripts/moment.min.js'></script>
    <script src='../Scripts/pnotify.custom.min.js'></script>
    <script src='../Scripts/jquery.min.js'></script>
    <script src='../Scripts/fullcalendar.min.js'></script>

    <link href='../Content/pnotify.custom.css' rel='stylesheet' />
    @if (RushHour.Web.Authentication.AuthenticationManager.LoggedUser == null)
    {
        <script>
            $(document).ready(function () {
                new PNotify({
                    title: 'Hello!',
                    text: 'Welcome to Rush Hour :)',
                    type: 'info'

                });
            })
        </script>

    }

}
