<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RushHourDbContext" connectionString="Server=85470727-98f6-4be7-86c3-a88d0091665b.sqlserver.sequelizer.com;Database=db8547072798f64be786c3a88d0091665b;User ID=tcacsgeocoapmjgr;Password=CPMGJYBUJsfcVAVnrCfUmAiT7LzDJtYZEFTcvQC5LoEzihTNVWuarBCbF2J6y7jp;"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>